*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    #main{
        width: 70%;
        height: 40%;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        #upperkeys{
            width: 100%;
            height: 70%;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            gap: 18px;
            padding: 0 0% 0% 2%;

            #two{
                width: 18%;
                height:100%;
                display: flex;
                justify-content: center;
                gap: 20px;
                
                button{
                    height: 100%;
                    width: 3rem;
                    background-color: black;
                }
            }
            
            #three{
                width: 29%;
                display: flex;
                justify-content: center;
                gap: 20px;
                
                button{
                    height: 100%;
                    width: 3rem;
                    background-color: black;
                }

            }
            
        }

        button{
            height: 100%;
            width: 100%;
            // border: 1px solid black;
        }



    
    }

    
}
    
