*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;

    div{
        width:25rem;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 50px;
        
        img{
            width: 300px ;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            background-color: cadetblue;
            
        }
        
        h1{
            width: 20rem ;
            text-align: center;
            background-color: rgb(74, 243, 130);
            border-radius: 50px;
        }
        
        p{
            width: 20rem ;
            text-align: center;
            background-color: rgb(76, 138, 231);
            border-radius: 50px;
        }
    }
}
