*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: black;

    #card{
        height: 20rem;
        width: 30rem;
        background-color: antiquewhite;
        border-radius: 1rem;
        padding:  3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p{
            height: 2rem;
            width: 100%;
            text-align: center;
            padding: 0 2rem;
        }

        #outer{
            height: 1.5rem;
            width: 100%;
            background-color: rgb(151, 142, 142);
            border-radius: 50px;
            overflow: hidden;

            #inner{
                height: 100%;
                width: 10%;
                background-color: green;
                border-radius: 50px;
            }

        }

    }

    div:nth-child(3){
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            margin-top: 2rem;

            h1{
                height: 100%;
                width: 20%;
                
            }

            button{
                height: 100%;
                width: 30%;
                border: none;
                background-color: rgb(7, 138, 39);
                border-radius: .5rem;
            }

            button:active{
                scale: 0.9;
            }
        }

        
}


