*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        height: 60px;
        width: 200px;
        border-radius: 10px;
        z-index: 1;
        background-color: chocolate;
    }

    button:active{
        scale: 0.95;
    }
}